<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <!-- Link to the main CSS file for styling
     We set  the href without the 'public' folder because Express serves it statically -->
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
            </ul>
    </header>

    <main>
        <h1>Welcome to the Shop</h1>
        <p>List of products will be displayed here.</p>
    </main>
</body>

</html>